span{
  font-size: 20px;
}
td{
  width: 250px;
  height: auto;
  border: 3px solid black;
  text-align: center;
}
table{
  width: auto;
  height: auto;
  border: 3px solid black;
  border-spacing: collapse
}
